@import '../../../../src/variables.scss';

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: $primary;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $spacing-200;
  border-radius: $radius-100;
  border: 5px solid $text-color;
  z-index: 1001;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}
