.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
