<div class="header-container">
    <div class="header header-page">
    <h2>Shop</h2>
    <div class="header-actions">
        <app-action-btn (click)="cycleBuyAmount()">{{ 'BUY' | translate }} {{buyAmount()}}</app-action-btn>
        <app-action-btn (click)="openMoyaiUpgradesModal()" [disabled]="auraManager.allTimeAura() < unlockUpgrades"> {{ 'MOYAI_UPGRADES' | translate }}</app-action-btn>
        <app-action-btn (click)="openAchievementsModal()">{{ 'ACHIEVEMENTS' | translate }}</app-action-btn>
        <app-action-btn (click)="openSettingsModal()">{{ 'SETTINGS' | translate }}</app-action-btn>
    </div>
    </div>
    @if (auraManager.allTimeAura() > unlockUpgrades){
    <div class="infos-container">
        <span>{{ 'CLICK_VALUE' | translate }} : {{shopManager.clickMultiplier() | formatAura}}</span>
        <span>{{ 'FINAL_MULTIPLIER' | translate }} : x{{shopManager.finalMultiplier()}}</span>
        <span>{{ 'PRICE_REDUCTION' | translate }} : {{ (shopManager.priceReduction() - 1) * 100 | number:'1.0-0' }} %</span>
    </div>
    }
</div>
<div class="shop-items">
    @for (item of shopItems; track item.name()) {
        @if (item.displayCondition()){
            <div class="item-container flex flex-row">
                <div class="flex flex-row">
                <div class="icon-container">
                    <img [src]="item.icon" alt="{{ item.name() }}" class="item-icon"/>
                </div>
                <div class="flex flex-column">
                <div class="header">
                    <h3>{{ item.name() }}</h3>
                </div>
                <div class="content">
                    <p>{{'PRICE' | translate}}: {{ (item.price() * numberFromBuyAmount(item)) | formatAura }} {{ 'AURA' | translate }}</p>
                    <p>{{'VALUE' | translate}}: {{ item.value() | number:'1.0-2' }} {{'AURA_PER_SECOND' | translate}}</p>
                    <p>{{'LEVEL' | translate}}: {{ item.level() | number:'1.0-0' }}</p>
                </div>
            </div>
            </div>
            <div class="action">
                    <app-action-btn (click)="buyItem(item.id)"
                        [disabled]="auraManager.auraCount() < (item.price() * numberFromBuyAmount(item))">
                    {{ 'BUY' | translate }} {{numberFromBuyAmount(item)}}
                </app-action-btn>
                <app-action-btn (click)="openItemUpgradesModal(item)" [disabled]="item.level() < 20">{{'UPGRADES' | translate }}</app-action-btn>
            </div>
            </div>
        }
    }
</div>
