.shop-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
