<div class="container" #box (click)="boing($event)">
    <div #moyaiWrap class="moyai-wrap">
        <img #moyai src="assets/imgs/moyai_earings.png" alt="Moyai earing" class="moyai acc over" draggable="false" />
        <img #moyai src="assets/imgs/moyai_sunglasses.png" alt="Moyai sunglasses" class="moyai acc over" draggable="false" />
        <img #moyai src="assets/imgs/moyai_tatoos.png" alt="Moyai tatoos" class="moyai acc" draggable="false" />
        <img #moyai src="assets/imgs/moyai_tuxedo.png" alt="Moyai tuxedo" class="moyai acc" draggable="false" />
        <img #moyai src="assets/imgs/moyai_tie.png" alt="Moyai tie" class="moyai acc" draggable="false" />
        <img #moyai src="assets/imgs/moyai_crown.png" alt="Moyai crown" class="moyai acc over" draggable="false" />
        <img #moyai src="assets/imgs/moyai_base.png" alt="Moyai" class="moyai" draggable="false" />
    </div>
</div>
