@import '../../../variables.scss';

.stage { display:grid; place-items:center; min-height:60vh; }

.container {
  cursor: pointer;
}

.moyai-wrap {
  position: relative;         /* le wrapper devient le plan commun */
  width: 100%;               /* fixe la taille une bonne fois */
  height: auto;
  display: inline-block;
  will-change: transform;
}
.moyai { display:block;
  width:100%;
  height:auto;
}

.acc {
  position: absolute;
  width: 100%; height: auto;
  pointer-events: none;
}

.over {
  z-index: 3;
}
.base {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}


