@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*, *::before, *::after {  box-sizing: border-box;}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .title {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p, span, a, li {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
