@import '../../../variables.scss';
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.body {
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main-button {
    width: 30%;
    height: 100%;
    background-color: $primary;
}

.counter-container {
    width: 100%;
    background-color: $text-color;
}

.shop {
    background-color: $bg-color;
    overflow: scroll;
    width: 100%;
}

.white-text {
    color: $on-dark-bg-text;
}

.big-title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}
