.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.body {
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main-button {
    width: 30%;
    height: 100%;
    background-color: red;
}
